.header-container {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: 'Roboto';
  border-bottom: 3px solid #ededed;
  margin: 2px;
  max-height: 60px;
  overflow: hidden;
  position: fixed;
  top: 0px;
  width: 100%;
}

.header-title {
  color: #0f0f0f;
  font-size: 32px;
}

.header-cart-contaier {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.cart-icon {
  color: #585555;
}

.cart-quantity {
  background-color: #ff6347;
  color: #fff;
  border-radius: 50%;
  font-size: 12px;
  padding: 3px 6px 3px 6px;
  position: relative;
  right: 10px;
  bottom: 10px;
}

.header-my-orders {
  font-size: 18px;
  font-family: Roboto;
  font-weight: 500;
  color: #58555a;
  padding: 10px;
}

@media (max-width: 768px) {
  .header-title {
    font-size: 24px;
  }
  .header-my-orders {
    display: none;
  }
}
